layout {
    default_tab_template  {
        children
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        floating_panes exact_panes=1 {
            pane
        }
    }
    tab name="code"
    // tab name="shell"
}

