* {
  border: none;
  border-radius: 0px;
  font-family: JetBrains Mono;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  background: #1d2021;
  color: #ebdbb2;
}

tooltip {
  background: #282828;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #1d2021;
}

#workspaces {
  background: #32302f;
  padding: 0 0.2em;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
  border: 1px solid #5e5950; 
}

#workspaces button {
  color: #615c4e;
  border-radius: 6px;
}

#workspaces button.active {
  color: #e8e0ca;
  background: #5e5950;
}

#workspaces button.focused {
  color: #ebdbb2;
  background: #262525;
}

#workspaces button.urgent {
  color: #1d2021;
  background: #fb4934;
}


#custom-power,
#date,
#pulseaudio,
#network,
#language,
#clock{
  background: #32302f;
  padding: 0 0.5em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
  border: 1px solid #5e5950; 
}

#network {
  color: #ebdbb2;
  margin-right: 6px;
}

#pulseaudio {
  margin-right: 6px;
  color: #ebdbb2;
}

#custom-power {
  color: #fb4934;
  background: #32302f;
}

#clock {
  color: #ebdbb2;
  margin-right: 6px;
}

#taskbar {
  background: #1d2021;
  padding: 0 0.6em;
  margin-right: 10px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
  color: #ebdbb2;
}

#taskbar button {
  border-radius: 6px;
  background: #32302f;
  color: #a89984;
  margin-right: 6px;
}

#taskbar button.minimized {
  border-radius: 6px;
  background: #32302f;
  color: #a89984;
}

#taskbar button.active {
  border-radius: 6px;
  background: #4e635b;
  color: #ebdbb2;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 30%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}

