* {
  border: none;
  font-family: Noto Sans Mono;
  font-size: 14px;
}

window#waybar {
  background-color: #222222;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  color: #dfdfdf;
  margin: 0 10px;
}

#workspaces button.active {
  color: #ffaa00;
}

#workspaces button:hover {
  color: #fba922;
  font-weight: bold;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#clock {
  margin: 6px 3px;
  padding: 6px 14px;
}

#clock,
#window,
#language {
  color: #dfdfdf;
}
