* {
    font-family: Fira Code;
    font-size: 13px;
    min-height: 0;
    border-radius: 0;
}

@define-color bg rgba(24, 23, 24, 1.0);
@define-color button_bg #dee2e6;
@define-color active #181C14;

window#waybar {
  background-color: @bg;
  color: #ffffff;
}

window {
  font-weight: bold;
}

tooltip {
  background: #282828;
  border-width: 2px;
  border-style: solid;
  border-color: #1d2021;
}

 #workspaces {
  padding: 0 0.2em;
  margin-top: 4px;
  margin-bottom: 4px;
} 

#workspaces button {
    color: grey;
}

#workspaces button.active {
  color: white;
  border-radius: 8px;
}

#workspaces button.urgent {
  background: #f38ba8;
}

#custom-power,
#date,
#pulseaudio,
#network,
#language,
#clock{
  font-weight: 400;
  border-radius: 12px;
  padding: 0.4rem 0.5em;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#custom-power {
  color: #fb4934;
  margin-right: 12px;
  margin-top: 3px;
}

